/*Estilos para home */
.home-section {
    padding: 20px;
    background-color: #f9f9f9;
  }
  
  .home-section__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .home-section__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    background-color: #fff;
  }
  
  .home-section__item--text {
    text-align: left;
  }
  
  .home-section__item--image {
    justify-content: center;
    align-items: center;
  }
  
  .home-section__heading {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .home-section__text {
    font-size: 1rem;
    line-height: 1.5;
  }
  
  .home-section__image {
    width: 100%;
    max-width: 500px;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  /* Responsividad */
  @media (max-width: 768px) {
    .home-section__container {
      grid-template-columns: 1fr;
    }
  
    .home-section__item {
      text-align: center;
    }
  
    .home-section__image {
      max-width: 100%;
    }
  }
  
  
  
  